@charset "UTF-8";
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-container.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal {
  background: white;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #5211A8;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
  position: relative; }

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }
.ativo .modal {
  -webkit-animation: modal .3s forwards;
          animation: modal .3s forwards; }

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #5211A8;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  cursor: pointer; }

.modal label {
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0; }

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.modal a {
  display: inline-block;
  background: #5211A8;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer; }

.modal a:hover {
  background: #00F58B;
  color: #fff; }

.intro, .instruct, .faq {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 3rem; }

/*----- INTRODUÇÃO -----*/
.intro h2 {
  grid-column: 1 / 6; }

.intro p {
  grid-column: 1 / 6;
  text-align: center; }

/*----- INSTRUCT -----*/
.instruct h2 {
  grid-column: 1 / 6; }

.instruct h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold; }

.instruct p {
  text-align: center; }

.instruct img {
  grid-column: 1 / 6;
  width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.p-1 {
  grid-column: 1 / 2;
  width: 100%;
  background: linear-gradient(230.65deg, #631ebd 27.49%, #6a38ac 83.19%);
  color: #fff;
  border: 1px solid #5211A8;
  border-radius: 10px;
  padding: 1rem; }

.p-2 {
  grid-column: 3 / 4;
  width: 100%;
  padding: 1rem;
  color: #333;
  border: 1px solid #5211A8;
  border-radius: 10px; }

.p-3 {
  grid-column: 5 / 6;
  width: 100%;
  background: linear-gradient(230.65deg, #631ebd 27.49%, #6a38ac 83.19%);
  color: #fff;
  border: 1px solid #5211A8;
  border-radius: 10px;
  padding: 1rem; }

.p-2:hover {
  border: 1px solid #00F58B; }

/*----- FAQ -----*/
.faq-lista {
  grid-column: 1 / 6; }

.faq h2 {
  grid-column: 1 / 6; }

.faq-lista dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #5211A8;
  cursor: pointer; }

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #00F58B; }

.faq-lista dd {
  margin-bottom: .5rem;
  margin-left: 30px; }

.js [data-anime="accordion"] dd {
  display: none; }

[data-anime="accordion"] dt::after {
  content: '⬎';
  margin-left: 10px; }

[data-anime="accordion"] dt.ativo::after {
  content: '⬏'; }

[data-anime="accordion"] dd.ativo {
  display: block;
  -webkit-animation: slideDown .5s forwards;
          animation: slideDown .5s forwards; }

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0; }
  to {
    max-height: 200px;
    opacity: 1; } }

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0; }
  to {
    max-height: 200px;
    opacity: 1; } }
/*----- ADMINISTRADOR -----*/
.adm {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.geral-adm {
  grid-column: 1 / 6;
  text-align: center;
  margin: 0 auto; }

.form-adm {
  grid-column: 1 / 6;
  margin: 0 auto;
  margin: 8rem 8rem 2rem 8rem; }

.tabela-adm {
  text-align: center;
  margin: 0 auto; }

.form-adm h2 {
  grid-column: 1 / 6; }

.form-adm form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid #5211A8;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.form-adm label {
  display: block;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left; }

.form-adm input {
  width: 300px;
  height: 1.5rem;
  padding: .3rem;
  color: #333;
  border: 0;
  border-bottom: 1px solid #5211A8;
  background: transparent; }

.form-adm input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0; }

.form-adm button {
  grid-column: 1 / 6;
  display: block;
  margin: 0 auto;
  background: #5211A8;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer; }

.form-adm button:hover {
  background: #00F58B;
  color: #fff; }

.c-1 {
  grid-column: 1 / 2; }

.c-2 {
  grid-column: 3 / 4; }

/*----- USUÁRIO -----*/
.user {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.geral-user {
  grid-column: 1 / 6;
  text-align: center;
  margin: 0 auto; }

.financeiro-user li {
  font-size: 1.5rem;
  padding: 1rem; }

.user-img {
  width: 30%;
  border: 1px solid #5211A8;
  border-radius: 1000px;
  margin-top: 2rem; }

/*----- CADASTRO -----*/
.cadastro {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.form-cadastro {
  grid-column: 1 / 6;
  margin: 0 auto;
  margin: 8rem; }

.form-cadastro h2 {
  grid-column: 1 / 6; }

.form-cadastro form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid #5211A8;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.form-cadastro label {
  display: block;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left; }

.form-cadastro input {
  width: 300px;
  height: 1.5rem;
  padding: .3rem;
  color: #333;
  border: 0;
  border-bottom: 1px solid #5211A8;
  background: transparent; }

.form-cadastro input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0; }

.form-cadastro button {
  grid-column: 1 / 6;
  display: block;
  margin: 0 auto;
  background: #5211A8;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer; }

.form-cadastro button:hover {
  background: #00F58B;
  color: #fff; }

.c-1 {
  grid-column: 1 / 2; }

.c-2 {
  grid-column: 3 / 4; }

/*----- AGENDAMENTO -----*/
.agendamento {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.agendamento-tabela {
  grid-column: 1 / 6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 13rem; }

/*----- FINANCEIRO -----*/
.financeiro {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.financeiro-tabela {
  grid-column: 1 / 6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 13rem; }

/*----- CADASTRO DE AGENDAMENTO -----*/
.cad-agd {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.form-cad-agd {
  grid-column: 1 / 6;
  margin: 0 auto;
  margin: 8rem; }

.form-cad-agd h2 {
  grid-column: 1 / 6; }

.form-cad-agd form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid #5211A8;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.form-cad-agd label {
  display: block;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left; }

.form-cad-agd input {
  width: 300px;
  height: 1.5rem;
  padding: .3rem;
  color: #333;
  border: 0;
  border-bottom: 1px solid #5211A8;
  background: transparent; }

.form-cad-agd input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0; }

.form-cad-agd button {
  grid-column: 1 / 6;
  display: block;
  margin: 0 auto;
  background: #5211A8;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer; }

.form-cad-agd button:hover {
  background: #00F58B;
  color: #fff; }

.c-1 {
  grid-column: 1 / 2; }

.c-2 {
  grid-column: 3 / 4; }

/*----- GERAL -----*/
* {
  font-family: 'Montserrat', sans-serif; }

html, body {
  margin: 0; }

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3rem; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #333; }

/*----- CABEÇALHO -----*/
header {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: linear-gradient(236.85deg, #2a00a9 27.26%, #3c00ff 45.26%, #8b61bd 96.03%);
  color: #fff; }

.menu {
  grid-column: 1 / 6;
  padding: 2.5rem; }

.menu ul, li {
  display: inline-block;
  list-style: none; }

.menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: .5rem; }

.info-menu li:hover, .info-menu a:hover {
  text-decoration: underline;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px); }

.login::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-right: 3px;
  background: #fff; }

.login a:hover {
  color: #00F58B; }

/*----- CORPO -----*/
article {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

/*----- RODAPÉ -----*/
footer {
  grid-column: 1 / 6;
  background: linear-gradient(236.85deg, #2a00a9 27.26%, #3c00ff 45.26%, #8b61bd 96.03%);
  color: #fff;
  padding: 1.5rem;
  margin-top: 3rem; }

.rodape {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 1.2rem; }

.rodape h3 {
  font-size: 1.5rem;
  font-weight: bold; }

.rodape ul li {
  display: inline-block;
  list-style: none;
  font-weight: bold; }

.rodape ul li a {
  text-decoration: none;
  color: #00F58B;
  padding-right: .5rem; }

.info-cont {
  grid-column: 1 / 3; }

.redes-sociais {
  grid-column: 4 / 6;
  text-align: right; }

.rodape img {
  width: 32px; }

/*----- TABELA -----*/
.info-user, .financeiro-user, .uso-user {
  margin: 0 auto; }

.tabela {
  margin: 8rem; }

table {
  width: 100%; }

.tabela th {
  font-size: 2em;
  font-weight: bold;
  color: #5211A8;
  margin: 0px;
  padding: .5em;
  border-bottom: 1px solid #333; }

.tabela td {
  font-size: 1.5em;
  margin: 0px;
  padding: .5em;
  border-bottom: 1px solid #333; }

.tabela a {
  color: #333; }

.form-pesquisa form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
  border-radius: 20px; }

.tabela input {
  font-weight: bold;
  font-size: 1.2em;
  background: #fff;
  color: #333;
  border: 1px solid #5211A8;
  border-radius: 20px;
  padding: .5em; }

.tabela button {
  font-weight: bold;
  font-size: 1.2em;
  background: #5211A8;
  color: #fff;
  border: 1px solid #5211A8;
  border-radius: 20px;
  padding: .5em;
  text-align: center;
  font-weight: bold;
  cursor: pointer; }

.tabela button:hover {
  background: #fff;
  color: #5211A8;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s; }

/*----- BOTÕES -----*/
.botao-agendamento a {
  display: inline-block;
  background: #5211A8;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #fff;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer; }

.botao-agendamento a:hover {
  background: #00F58B;
  color: #fff; }

/*# sourceMappingURL=style.css.map */