//Cores
$cor-primaria: #828e8c;
$cor-secundaria: #e8866c;
$cor-terciaria: #494546;
$cor-suporte-1: #c5d0c1;
$cor-suporte-2: #f8ecde;
$cor-suporte-3: #ffffff;

//Fontes
$fonte-1: "Quicksand", sans-serif;
$fonte-2: 'Plus Jakarta Sans', sans-serif;

