@import "vars";

/*----- ADMINISTRADOR -----*/

.adm {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.geral-adm {
  grid-column: 1 / 6;
  text-align: center;
  margin: 0 auto;
}

.tabela-adm {
  grid-column: 1 / 6;

  table {
    grid-column: 1 / 6;
  }
}

.form-adm {
  grid-column: 1 / 6;
  margin: 0 auto;
  margin: 8rem 8rem 2rem 8rem;

  h2 {
    grid-column: 1 / 6;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: min-content;
    margin: 0 auto;
    padding: 4rem;
    border: 1px solid $main_color;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  button {
    grid-column: 1 / 6;
    display: block;
    margin: 0 auto;
    background: $main_color;
    border: none;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    color: $main_font_color;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
        background: $sec_color;
        color: $main_font_color;
    }
  }
}

.c-1 {
  grid-column: 1 / 2;
  padding: 0.5rem;
}

.c-2 {
  grid-column: 3 / 4;
  padding: 0.5rem;
}
