@import "vars";

#intro,
#img-fundo,
#instruct,
#feedback,
#faq {
  justify-content: center;
}

.home-img {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1607171028974-319ba56cb013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;

  .main-title {
    width: min-content;
    color: $main_font_color;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
    backdrop-filter: blur(2px);

    p {
      font-size: 1.2rem;
    }

    @include d(sm) {
      padding: 0;

      h1 {
        font-size: 3.5em;
      }
    }
  }

  @include d(sm) {
    justify-content: center;
  }
}

/*----- INTRODUÇÃO -----*/

#intro {
  padding: 1rem;
  margin: 0 10rem;

  @include d(sm) {
    padding: 0;
    margin: 0;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }

  h2 {
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
  }

  .intro-1,
  .intro-2 {
    flex: 1;
    margin-top: 3rem;
  }

  @include d(sm) {
    flex-direction: column;

    .intro-2 {
      order: -1;
      padding: 0 1em;
    }
  }
}

/*----- INSTRUCT -----*/

#instruct {
  padding: 1em;
  margin: 0 10rem;

  @include d(sm) {
    padding: 0;
    margin: 0;
  }
}

.instruct {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    text-align: center;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
  }

  .p-1,
  .p-2,
  .p-3 {
    flex: 1;
    padding: 5em;
  }

  .p-1-1,
  .p-3-1 {
    width: 100%;
    padding: 1.5rem;
    background: $grad_color_2;
    color: $main_font_color;
    border: 1px solid $main_color;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }

  .p-2-1 {
    width: 100%;
    padding: 1.5rem;
    color: $sec_font_color;
    border: 1px solid $sec_color;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
  }

  .p-1-2,
  .p-2-2,
  .p-3-2 {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
  }

  @include d(sm) {
    flex-direction: column;

    .p-1-2,
    .p-2-2,
    .p-3-2 {
      display: none;
    }

    .p-1,
    .p-2,
    .p-3 {
      padding: 0;
    }

    .p-1-1,
    .p-3-1,
    .p-2-1 {
      margin: 0 auto;
      width: 80%;
      margin-bottom: 3em;
    }
  }
}

/*----- IMG FUNDO -----*/

#img-fundo {
  background-image: url("https://images.unsplash.com/photo-1594535182308-8ffefbb661e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1665&q=80");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5rem 0;
}

.img-fundo {
  justify-content: center;
  backdrop-filter: blur(8px);
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);
  padding: 5rem;

  h1 {
    color: $main_font_color;
    @include d(sm) {
      text-align: center;
    }
  }
}

/*----- FEEDBACK -----*/

#feedback {
  padding: 1rem;
  margin: 0 10rem;

  @include d(sm) {
    padding: 0;
    margin: 0 0rem;
  }
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }

  h3 {
    color: $third_font_color;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    text-align: center;
  }

  img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
  }

  .feedback-1,
  .feedback-2,
  .feedback-3 {
    flex: 1;
    margin: 0 2em;
  }

  @include d(sm) {
    flex-direction: column;
  }
}

/*----- FAQ -----*/

#faq {
  padding: 1rem;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    flex: 1;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
  }

  .faq-lista {
    margin-left: 5em;

    dt {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $main_color;
      cursor: pointer;
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: $sec_color;
      }
    }

    dd {
      margin-bottom: 0.5rem;
      margin-left: 30px;
    }
  }

  @include d(sm) {
    flex-direction: column;

    .faq-lista {
      margin-left: 0;

      dt {
        margin-top: 1em;
        font-size: 1rem;
      }
    }
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: "⬏";
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}
