$main_color: #333;;
$sec_color: #5211A8;
$grad_color_1: #333;
$grad_color_2: #333;
$main_font_color: #fff;
$sec_font_color: #333;
$third_font_color: #5211A8;
$fourth_font_color: #5211A8;


//Mixin de media-querie
$cols: 12;
$gutter: 20px;
$lg-device: 1200px;
$md-device: 760px;
$sm-device: 480px;

@mixin d($size) {
  @if $size == lg {
    @media screen and (min-width: $lg-device) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: $md-device) and (max-width: ($lg-device - 1)) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: ($md-device - 1)) {
      @content;
    }
  }
}