@import "vars";
@import "modal";
@import "home";
@import "administrador";
@import "usuario";
@import "cadastro";
@import "agendamento";
@import "financeiro";
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

/*----- GERAL -----*/

* {
  font-family: "Roboto Mono", monospace;
}

html,
body {
  margin: 0;
}


h1 {
  font-size: 5rem;
  font-family: "Goldman", cursive;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: $third_font_color;
  margin-bottom: 5rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $sec_font_color;
}

hr {
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;

  @include d(sm) {
    margin-top: 2rem;
  }
}

/*----- CABEÇALHO -----*/

header {
  background: $grad_color_1;
  color: $main_font_color;
  margin-bottom: 3rem;
}

.menu {
  padding: 2.5rem;

  ul,
  li {
    display: inline-block;
    list-style: none;

    @include d(sm) {
      li {
        display: inline-block;
        text-align: center;
        &:hover {
          text-decoration: underline;
          transform: translateY(0px);
        }
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: $main_font_color;
    padding: 0.5rem;
  }
}

.info-menu {
  li:hover {
    text-decoration: underline;
    transform: translateY(-10px);
  }
}

.login {
  a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 10px;
    background: #fff;
  }

  a:hover {
    color: $sec_color;
  }
}

/*----- RODAPÉ -----*/

footer {
  background: $grad_color_1;
  color: $main_font_color;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;

  .rodape-p-1,
  .rodape-p-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }

    ul li {
      display: inline-block;
      list-style: none;
      font-weight: bold;
    }

    @include d(sm) {
      flex-direction: column;
    }
  }

  .rodape-p-1 {
    ul li a {
      text-decoration: none;
      color: $third_font_color;
      padding-right: 0.5rem;
      @include d(sm) {
        text-align: center;
      }
    }

    img {
      width: 32px;
      margin-left: 0.3rem;
    }

    .info-cont {
      @include d(sm) {
        text-align: center;
        margin-bottom: 1em;
      }
    }

    .redes-sociais {
      text-align: right;

      @include d(sm) {
        text-align: center;
      }
    }
  }

  .rodape-p-2 {
    .menu-rodap {
      padding: 2.5rem;
      text-align: center;

      a {
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: $main_font_color;
        padding: 0.5rem;

        @include d(sm) {
          text-align: center;

          padding: 0;
        }
      }

      li:hover,
      a:hover {
        text-decoration: underline;
        transform: translateY(-10px);
      }
    }

    @include d(sm) {
      ul li {
        display: inline-block;
      }
    }
  }
}

/*----- TABELAS -----*/

.info-user,
.financeiro-user,
.uso-user {
  margin: 0 auto;
}

table {
  width: 100%;
}

.tabela {
  margin: 8rem;

  th {
    font-size: 2em;
    font-weight: bold;
    color: $main_color;
    margin: 0px;
    padding: 0.5em;
    border-bottom: 1px solid $sec_font_color;
  }

  td {
    font-size: 1.5em;
    margin: 0px;
    padding: 0.5em;
    border-bottom: 1px solid $sec_font_color;
    text-align: center;
  }

  a {
    color: $sec_font_color;
  }

  input {
    font-weight: bold;
    font-size: 1.2em;
    background: #fff;
    color: $sec_font_color;
    border: 1px solid $main_color;
    border-radius: 20px;
    padding: 0.5em;
  }

  button {
    font-weight: bold;
    font-size: 1.2em;
    background: $main_color;
    color: $main_font_color;
    border: 1px solid $main_color;
    border-radius: 20px;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: $main_color;
      border-radius: 20px;
      transition: 0.3s;
    }
  }
}

.form-pesquisa form {
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
  border-radius: 20px;
}

/*----- BOTÕES -----*/

.botao-agendamento a {
  display: inline-block;
  background: $main_color;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: $main_font_color;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  &:hover {
    background: $sec_color;
    color: $main_font_color;
  }
}

/*----- INPUT STYLES -----*/

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 15%;
  margin-bottom: 15%;

  input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid $main_color;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 1rem;
    transition: all 0.3s ease-out;
    border-radius: 0;
    &:focus + label,
    &:valid + label {
      font-size: 0.8rem;
      margin-top: 0;
      color: $third_font_color;
    }
  }

  label {
    color: $sec_font_color;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    transition: all 0.3s ease-out;
  }
}
