@import 'vars';
@import 'modal';
@import 'home';
@import 'administrador';
@import 'usuario';
@import 'cadastro';
@import 'agendamento';
@import 'financeiro';
@import 'cadastro-agendamento.scss';

/*----- GERAL -----*/

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: $sec_font_color;
    margin-bottom: 3rem;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $sec_font_color;
}

hr {
    grid-column: 1 / 6;
    width: 40%;
    margin: 0 auto;
    margin-top: 5rem;
}

/*----- CABEÇALHO -----*/

header {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: $grad_color_1;
    color: $main_font_color;
}

.menu {
    grid-column: 1 / 6;
    padding: 2.5rem;
}

.menu ul, li {
    display: inline-block;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: $main_font_color;
    padding: .5rem;
}

.info-menu li:hover, .info-menu a:hover {
  text-decoration: underline;
  transform: translateY(-10px);
}

.login::before {
    content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-right: 3px;
  background: #fff;
}

.login a:hover {
    color: $sec_color;
}

/*----- CORPO -----*/

article {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*----- RODAPÉ -----*/

footer {
    grid-column: 1 / 6;
    background: $grad_color_1;
    color: $main_font_color;
    padding: 1.5rem;
    margin-top: 3rem;
}

.rodape{
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
}

.rodape h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.rodape ul li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
}

.rodape ul li a{
    text-decoration: none;
    color: $sec_color;
    padding-right: .5rem;
}

.info-cont {
    grid-column: 1 / 3;
}

.redes-sociais {
    grid-column: 4 / 6;
    text-align: right;
}

.rodape img {
    width: 32px;
}

/*----- TABELA -----*/

.info-user, .financeiro-user, .uso-user {
    margin: 0 auto;
}

.tabela {
    margin: 8rem;
}

table {
    width: 100%;
}

.tabela th {
    font-size: 2em;
    font-weight: bold;
    color: $main_color;
    margin: 0px;
    padding: .5em;
    border-bottom: 1px solid $sec_font_color;
}

.tabela td {
    font-size: 1.5em;
    margin: 0px;
    padding: .5em;
    border-bottom: 1px solid $sec_font_color;
}

.tabela a {
    color: $sec_font_color;
}

.form-pesquisa form {
    width: max-content;
    text-align: center;
    margin:  0 auto;
    margin-bottom: 5em;
    border-radius: 20px;
}

.tabela input {
    font-weight: bold;
    font-size: 1.2em;
    background: #fff;
    color: $sec_font_color;
    border: 1px solid $main_color;
    border-radius: 20px;
    padding: .5em;
}

.tabela button {
    font-weight: bold;
    font-size: 1.2em;
    background: $main_color;
    color: $main_font_color;
    border: 1px solid $main_color;
    border-radius: 20px;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.tabela button:hover {
    background: #fff;
    color: $main_color;
    border-radius: 20px;
    transition: .3s;
}

/*----- BOTÕES -----*/

.botao-agendamento a {
    display: inline-block;
    background: $main_color;
    border: none;
    border-radius: 4px;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: $main_font_color;
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .3s ease-out;
}

.botao-agendamento a:hover {
    background: $sec_color;
    color: $main_font_color;
}





