$main_color: #5211A8;
$sec_color: #00F58B;
$grad_color_1: linear-gradient(236.85deg, #2a00a9 27.26%, #3c00ff 45.26%, #8b61bd 96.03%);
$grad_color_2: linear-gradient(230.65deg, #631ebd 27.49%, #6a38ac 83.19%);
$main_font_color: #fff;
$sec_font_color: #333;
$third_font_color: #5211A8;
$fourth_font_color: #00F58B;